.InputWrapper {
    display: flex;
}

.input {
    background: transparent;
    outline: none;
    width: 100%;
    color: var(--inverted-bg-color);
    text-shadow: 0 0 0 var(--primary-color);
    border: 1px solid var(--inverted-bg-color);
}

.readOnly {
    opacity: 0.7;
}
