.listbox {
    position: relative;
}

.options {
    position: absolute;
    background: var(--bg-color);
    min-width: 100%;
    z-index: 10000;
    border: 1px solid var(--primary-color);
}

.trigger {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.item {
    padding: 10px;
}

.active {
    background: var(--primary-color);
    color: var(--inverted-primary-color);
}

.checkIcon {
    width: 30px;
    height: 30px;
}

.active .checkIcon {
    fill: var(--inverted-primary-color);
}

.disabled {
    opacity: 0.7;
}

.optionsBottomLeft {
    top: calc(100% + 10px);
    left: 0;
}

.optionsBottomRight {
    top: calc(100% + 10px);
    right: 0;
}

.optionsTopLeft {
    bottom: calc(100% + 10px);
    left: 0;
}

.optionsTopRight {
    bottom: calc(100% + 10px);
    right: 0;
}
