:root,
.app_gray_theme {
    --bg-color: #e8ece8;
    --inverted-bg-color: #5f765f;
    --primary-color: #243219;
    --inverted-primary-color: #eff6e9;
    --secondary-color: red;
    --inverted-secondary-color: orange;
}
