.dropDown {
    position: relative;
}

.btn {
    background: none;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}

.menu {
    position: absolute;
    z-index: 10000;
    background: var(--bg-color);
    border: 1px solid var(--primary-color);
    flex-direction: column;
    display: flex;
}

.item {
    padding: 10px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: none;
}

.active {
    background: var(--primary-color);
    color: var(--inverted-primary-color);
}

.optionsBottomLeft {
    top: calc(100% + 10px);
    left: 0;
}

.optionsBottomRight {
    top: calc(100% + 10px);
    right: 0;
}

.optionsTopLeft {
    bottom: calc(100% + 10px);
    left: 0;
}

.optionsTopRight {
    bottom: calc(100% + 10px);
    right: 0;
}
